extends layout.pug

block content
   
    //script(src="assets/mqttws31.min.js")
    div(style='padding-top: 56px;').container-xxl
        .row.row-cols-1.row-cols-xl-2
            .col.mt-4
                include cards/playerCard.pug
            .col.mt-4
                include cards/time_and_statusCard.pug

        .card.text-center.mt-4.card_shadow
            .card-header
                ul#myNavTabs.nav.nav-tabs.card-header-tabs
                    //li#screenshotTab.nav-item
                    li
                        a#screenshotTab_bt.nav-link.active(aria-current='true' data-toggle="tab") Screenshot
                    //li#logTab.nav-item
                    li
                        a#logTab_bt.nav-link(data-toggle="tab") Log
                    //li.nav-item
                    button#refresh_btn.btn.btn-secondary.m-2(type='button' class="position-absolute top-0 end-0") Refresh 
                        span#refresh_spn.spinner-border.spinner-border-sm(role='status' aria-hidden='true') 

            .card-body
                img#screenshot.card-img-top(src='meta/screen_shot.png' href=src style = "object-fit: contain;")
                //iframe(aria-hidden='true')
                iframe#log_box(src='logs/playerok.log' width="100%" height="500" )
                

    //script(src="assets/home.js")
    script.
        let config = !{JSON.stringify(config)}
        var activeTab = 'screenshot'
        //var screenshotTab = new bootstrap.Tab(document.querySelector('#screenshotTab'))
        //var logTab = new bootstrap.Tab(document.querySelector('#logTab'))

        function image_update(){
            console.log( "show screenshot!" );
            $("#log_box").hide()
            $("#screenshot").show()
            $("#refresh_spn").show()
            
            fetch('/get_screenshot', {
                method: 'GET',
                headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/x-www-form-urlencoded'
                },
            }).then((res) => {
                console.log("Get screenShot OK, res: ", res)
                $("#screenshot").attr('src','meta/screen_shot.png'+ '?' + Math.random());
                $("#refresh_spn").hide();
            })
        }

        function show_log(){
            console.log( "show logs!" );
            $("#screenshot").hide()
            //$("#log_box").attr("aria-hidden","false")
            $("#log_box").show()
            $("#refresh_spn").show();

            $("#log_box").attr("src", "logs/playerok.log")
            $("#refresh_spn").hide();
        }
    

        $( document ).ready(function() {
            console.log( "ready!" );
            image_update()
        });

        $("#myNavTabs a").click(function (evt) {
            evt.preventDefault();
            $(this).tab('show');
            
        });

        $("#logTab_bt").click(function() {
            activeTab = 'log'
            show_log()
        });

        $("#screenshotTab_bt").click(function() { 
            activeTab = 'screenshot'
            image_update()
        });

        $("#refresh_btn").click(function() {
            if(activeTab == 'screenshot'){
                image_update()
                }
            if(activeTab == 'log'){
                show_log()
            }
        });
        

        
            
        

