<!DOCTYPE html>
<html>
<head>
    block title
    <meta charset="utf-8" />

    <link type="text/css" rel="stylesheet" href="/assets/navbar.css" />
    <script type="text/javascript" src="/assets/tooltip.js" defer></script>

    <link type="text/css" rel="stylesheet" href="/assets/list.css" />

    //<script type="text/javascript" src="/assets/multi.js" defer></script>

    //<script type="text/javascript" src="/assets/index.js"></script>
    
    //link(rel='stylesheet', href='assets/home.css')

    link(rel='stylesheet', href="/css/bootstrap.min.css")
    script( src="/js/bootstrap.bundle.min.js")  
    script( src="/jquery/jquery.min.js")
    script( src="/treeview/bootstrap-treeview.min.js")
    //script( src="/assets/upload.js")
    //script( src="/js/bootstrap.min.js")
    
    link(rel='stylesheet', href="/bootstrap-icons/font/bootstrap-icons.css")

    //script(src='/assets/home.js')
    link(rel='stylesheet', href='/assets/home.css')
    //link(rel='stylesheet', href='assets/cards.css')
    
</head>
<body>
    include navbar.pug
    block content
</body>
<html>

