
extends layout.pug


block content
    link(type="text/css" href="bootstrap5-toggle/css/bootstrap5-toggle.css" rel="stylesheet")
    script(src="bootstrap5-toggle/js/bootstrap5-toggle.min.js")

    div(style='margin-top: 76px;')
        main.my-2.mx-auto(style='width: 950px;')
            .row.mx-auto
                .col
                    include cards/netSettings-card.pug
            .row.justify-content-md-center.my-3.mx-auto(style='width: 950px;')
                .col-4
                    include cards/timeSettings-card.pug
                .col-4
                    include cards/soundSettings_card.pug
                .col-4
                    include cards/screenSettings_card.pug
            .row.justify-content-md-center.my-3.ms-2(style='width: 620px;')
                include cards/securitySettings-card.pug
    
    
    script.
        let config = !{JSON.stringify(config)}
        let audio_dev_list = !{JSON.stringify(audio_dev_list)}
        let screen_dev_list = !{JSON.stringify(screen_dev_list)}


        function fetch_save_config(){
            fetch('/save_config', {
                method: 'POST',
                headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: JSON.stringify(config)
            }).then((res) => {
                console.log("POST config OK, res: ", res)
                //window.location.reload();
                }).catch((err) => {
                console.log(err)
            })
        }
