
extends layout.pug


block content
    link(type="text/css" href="bootstrap5-toggle/css/bootstrap5-toggle.css" rel="stylesheet")
    script(src="bootstrap5-toggle/js/bootstrap5-toggle.min.js")

    div(style='padding-top: 56px;').container-xxl
        main.container-xxl.my-4.d-flex.justify-content-center
            .row
                .col.m-4
                    include cards/netSettings-card.pug
                .col.m-4
                    include cards/timeSettings-card.pug

    
    
    script.
        let config = !{JSON.stringify(config)}

        function fetch_save_config(){
            fetch('/save_config', {
                method: 'POST',
                headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: JSON.stringify(config)
            }).then((res) => {
                console.log("POST config OK, res: ", res)
                //window.location.reload();
                }).catch((err) => {
                console.log(err)
            })
        }
