card.card(style='width: 300px;').card_shadow.h-100
    .card-body
        h5.card-title Log settings
        //p.card-text
    ul.list-group.list-group-flush(style='transform: translate(0px, -25px);')
        li.list-group-item 
            .row.mb-2
                .input-group
                    label.input-group-text(for='inputGroupSelect01' style='width:8em;') Log level
                    select#inputGroup_log_level.form-select 
                        each level in config.log._comment
                            option(value=level)= level
                //h6 Output device
                //select.mx-2.form-select(style='width: 18rem;' aria-label='Default select example')
            .row.mb-2
                .col
                .col

    .card-body.d-flex.align-items-end
         button.btn.btn-outline-secondary(type='button' data-bs-toggle='modal' data-bs-target='#confirm_save_log_config_modal') Save

    #confirm_save_log_config_modal.modal.modal-m.fade(tabindex='-1' aria-labelledby='confirm_save_log_config_modal' aria-hidden='true' data-bs-backdrop="static")
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header(style='background-color: rgb(177, 220, 226);')
                    h4.confirm_save_net_config_modal_title Save log settings
                .modal-body
                    h4 Device will be rebooted! 

                .modal-footer
                    button.btn.btn-secondary(onclick = 'save_log_settings()') Ok
                    button.btn.btn-secondary(onclick = 'cancel_log_config()') Cancel


script.
    $( document ).ready(function() {
        $('#inputGroup_log_level').val(config.log.level)
    })

    function cancel_log_config(){
        $('#confirm_save_log_config_modal').modal('hide')
    }

    function save_log_settings(){
        $('#confirm_save_log_config_modal').modal('hide')
        
        config.log.level =$('#inputGroup_log_level').val()
        fetch_save_config()
    }