.card(style='width: 20rem;')
    //img.align-center.card-img-top(class="center-block" src='icons/ip-address.png' style='margin-top: 1em; height: 6em; width:6em;' )
    .card-body
        h5.card-title Network settings
        p.card-text
        //| Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
    ul.list-group.list-group-flush
        li.list-group-item 
            .row.mb-2
                .col
                    span.input-group-text(style='width:8em;') DHCP
                .col(style='transform: translate(-15px, 2px);')
                    //input(type='checkbox' data-toggle='switchbutton' checked='off' data-onlabel='On' data-offlabel='Off')                       
                    input#DHCP_Enable_toggle(type='checkbox' data-toggle="toggle" data-size="sm" data-onlabel='On' data-offlabel='Off') 
            .input-group.mb-2
                span#basic-addon1.input-group-text(style='width:8em;') IP adress
                input#ip_adress.form-control(type='text' placeholder= config.net.IP aria-label='IP_adress' aria-describedby='basic-addon1')
            .input-group.mb-2
                span#basic-addon1.input-group-text(style='width:8em;') Net mask
                input#net_mask.form-control(type='text' placeholder= config.net.net_mask aria-label='Net_mask' aria-describedby='basic-addon1')
            .input-group.mb-2
                span#basic-addon1.input-group-text(style='width:8em;') Gateway
                input#gateway.form-control(type='text' placeholder= config.net.gateway aria-label='Gateway' aria-describedby='basic-addon1')
            .input-group.mb-2
                span#basic-addon1.input-group-text(style='width:8em;') DNS
                input#dns.form-control(type='text' placeholder= config.net.DNS aria-label='Gateway' aria-describedby='basic-addon1')
            .input-group.mb-2
                span#basic-addon1.input-group-text(style='width:8em;') mDNS name
                input#mDNS.form-control(type='text' placeholder= config.net.mDNS_name aria-label='mdnsName' aria-describedby='basic-addon1')
    .card-body
        button.btn.btn-outline-secondary(type='button' onclick='save_net_settings()') Save

script.


    //let config = !{JSON.stringify(config)}
    $( document ).ready(function() {
        console.log("document redy")

        if(config.net.DHCP==1){
            $('#DHCP_Enable_toggle').bootstrapToggle('on')
        }else{
            $('#DHCP_Enable_toggle').bootstrapToggle('off')
        }
        $('#ip_adress').val(config.net.IP)
        $('#net_mask').val(config.net.net_mask)
        $('#gateway').val(config.net.gateway)
        $('#dns').val(config.net.DNS)
        $('#mDNS').val(config.net.mDNS_name)
    }); 

    $('#DHCP_Enable_toggle').on("change",function() {
        if($('#DHCP_Enable_toggle').prop('checked') == true){
            //console.log(`${$('#DHCP_Enable_toggle').prop('checked')}`)
            $('#ip_adress').prop('disabled', true)
            $('#net_mask').prop('disabled', true)
            $('#gateway').prop('disabled', true)
            $('#dns').prop('disabled', true)
        }else if($('#DHCP_Enable_toggle').prop('checked') == false){
            $('#ip_adress').prop('disabled', false)
            $('#net_mask').prop('disabled', false)
            $('#gateway').prop('disabled', false)
            $('#dns').prop('disabled', false)
        }
    })

    function save_net_settings(){
        config.net.DHCP = +$('#DHCP_Enable_toggle').prop('checked')
        config.net.ip_adress = $('#ip_adress').val()
        config.net.net_mask = $('#net_mask').val()
        config.net.gateway = $('#gateway').val()
        config.net.DNS = $('#dns').val()
        config.net.mDNS_name = $('#mDNS').val()

        fetch_save_config()
    }
