[Unit]
Description=Test Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Environment=DISPLAY=:0
User=root
Type=simple
WorkingDirectory = /home/playerok/playerok/uart2mqtt/
ExecStart=sudo node /home/playerok/playerok/uart2mqtt/uart2mqtt.js
StandardError=append:/home/playerok/playerok/logs/uart2mqtt.log
StandardInput=tty-force
StandardError=syslog
Restart=on-failure

[Install]
WantedBy=multi-user.target
